section {
    border: 3px solid #f00;
    height: 200px;

    display: flex; 
    display: -webkit-flex; 
    display: -moz-flex; 

    /*Quebra de linha */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;

    /*alinhamento dos elemento: flex-start- esquerda , 
    flex-end-direita, flex-center : centor , ALINHAMENTO HORIZONTAL */
    justify-content: flex-start; 
    -webkit-justify-content:flex-start;
    -moz-justify-content:flex-start;

    /*Alinhamento vertifcal,flex-start- esquerda , 
    flex-end-direita, flex-center : centor */
    align-items: flex-start;
    -webkit-align-content:flex-start;
    -moz-align-content:flex-start;

    /*controla a direçao dos elemento padrao row, coluna column , 
    column-reverse ou row podem usar*/
    flex-direction: row;
    -webkit-flex-content:flex-start;
    -moz-flex-content:flex-start;
    
}

div {
    border: 1px solid #000;
    width: 100px;
}