#d1{
    width: 300px;
    height: 200px;
    border: 10px solid #000;
    padding: 25px;
    box-sizing: border-box; /* content-box padrao somar 300 + 10x 2 + 25 x 2 = 370, se usar border-box ele trabalha padrao sem tenque fazer essas contas, ai nao adicionar os valores a largura width. */
}

#d2{
    width: 300px;
    height: 200px;
    border: 0px;
    padding: 0px;
    background:#245eaa ;
}