img{
    filter: grayscale(60%) ; /* escala de cinza grayscale(1) ou (100%) filter, 
    filtro de porcentagem,0 a 100% o maximo ou 0 a 1, quero a imagem cinza, a metade (50 %).
    blur: embassamento, trabalho com pixel (5px).
    brightness: brilho, porcentagem(10%) (1.5) (2)=200% .
    contraste:(2) é em porcentagem, 1, 100%, 1.5., 200 ... */
}